.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.judul {
    margin: 20px;
    font-size: 100px;
}